@import './bootstrapOverrides';
@import '~bootstrap/scss/bootstrap';
@import './animations';

html {
    height: 100%;
    overflow: hidden;
}

body {
    background: #000;
    background-image: '';
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;
    font-family: 'Macondo', cursive;
    font-size: 26px;
}

.overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.noise {
        background: url('img/noise.png');
        animation: visibility;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        &-visible {
            display: block;
        }
    }

    &.black {
        background: #000;
        opacity: 0;
        transition: opacity 500ms;

        &.visible {
            opacity: 1;
        }
    }
}

header h1 {
    padding: 0 0.3em;
}

article {
    padding: 0 1em;
    animation: flicker;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.answers {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 75vh;
    overflow-y: auto;
    padding: 0.5em 1em;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.25);
    overflow-y: hidden;
}

.answer {
    text-shadow: 0 0 2px rgb(0, 0, 0);
}

.shake {
    animation: shake 500ms;
    animation-iteration-count: 4;
}

.typed-cursor {
    display: none;
}

.help-command {
    text-decoration: underline;
}

.user-input,
.user-input:focus {
    background: #000;
    color: #fff;
    font-size: 100%;
    padding: 0 0.5em;
}

.user-input-button {
    background: #000;
    color: #fff;
    font-size: 100%;
    padding: 0.2em 0.5em;
}

.sound-icon {
    display: none;
}

@media (max-width: 700px) {
    body {
        font-size: 16px;
    }

    .answers {
        height: 70vh;
        left: 0%;
        width: 100%;
        padding: 0.5em;
    }

    .sound-icon {
        display: block;
        position: absolute;
        right: 10px;
        top: 0px;
        width: 32px;
        height: 32px;
    }
}
